{% extends "base.html" %}
{% block title %}Active Auctions{% endblock %}

{% block content %}
    <h1>Active Auctions</h1>
    <ul>
        {% for auction in active_auctions %}
            <li>
                <h2>{{ auction.item_name }}</h2>
                <p>Start Time: {{ auction.start_time }}</p>
                <p>End Time: {{ auction.end_time }}</p>
                <p>Start Price: ${{ auction.start_price }}</p>
                <p>
                    {% if auction.highest_bid %}
                        Highest Bid: ${{ auction.highest_bid.amount }}
                    {% else %}
                        No bids yet
                    {% endif %}
                </p>
                <p>
                    {% if auction.winner %}
                        Winner: {{ auction.winner.username }}
                    {% else %}
                    Winner: Not determined yet
                    {% endif %}
                </p>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
